body {
    background-color: #fff;
}

#wrap {
    overflow: hidden;
}

.header {
    /*width: 100%;*/
    height: 100%;
    background: url('/images/valik.png') no-repeat;
    background-size: cover;
}

.header-menu {
    height: 70px;
    width: 100%;
    padding: 0;
    border-radius: 0;
    background-color: rgba(30, 30, 30, .5);
}

.menu-logo {
    height: 70px;
}

.menu-authentication {
    height: 70px;
    text-align: center;
    padding: 18px 0;
}

.menu-more {
    height: 70px;
}

.or {
    margin: 0;
}

#menu-more {
    float: right;
    margin: 13px 8px;
}

#vk,
#fb,
#menu-more,
#logo {
    cursor: pointer;
}

.header-title {
    margin: 150px 0;
}

.title {
    color: #fff;
    text-align: right;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

#arrow {
    cursor: pointer;
    margin: 28px 0 28px 80px;
}

.about {
    /*height: 500px;*/
}

.about-title {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin: 35px 0 15px 0
}

.about-text {
    color: #727272;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 30px;
}

.pacman-img {
    margin: 0;
    text-align: center;
}

.pacman-text {
    margin: 30px 0;
    color: #727272;
    font-size: 16px;
    padding: 0 30px;
}

.divider {
    margin: 0;
}

.time-indicator {
    position: relative;
    top: -30px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: #3279ed;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.span-blue {
    color: #3279ed;
}

.divider-text {
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 16px;
    color: #cecece;
}

.date {
    background-color: #f44538;
    color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}

.date-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 15px;
}

.date-where {
    margin: 0px 150px;
}

.place-icon {
    float: left;
    padding-top: 50px;
}

.time-icon {
    text-align: center;
    width: 20%;
    float: left;
    padding: 50px 0;
}

.place-time {
    width: 80%;
    float: right;
    padding: 20px 0 15px;
}

.place-text {
    padding: 0 30px;
}

.place-details {
    width: 80%;
    float: right;
    padding: 50px 0;
}

.place-icon-size {
    float: left;
    font-size: 35px;
}

.p-route {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 16px 0;
    font-weight: bold;
}

.p-where {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
}

.map-img {
    width: 100%;
}

.p-schedule {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sponsors {
    text-align: center;
}

.sponsors-img {
    height: 150px;
    margin: 16px 0 40px;
}

.sponsors-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 40px 0;
}

.translation-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.translation-info {
    color: #f44336;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 30px 187px;
}

.camera {
    position: relative;
    font-size: 2.5em;
    top: 12px;
}

.iframe-translation {
    width: 100%;
    height: 640px;
}

.registraion {
    margin: 60px 0;
    text-align: center;
}

.register-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.myform {
    margin: 30px 170px;
}

.myinput {
    color: #b6b6b6;
    font-weight: 500;
    font-size: 18px;
}

.myButton {
    width: 50%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
    margin: 45px 0 20px;
    height: 70px;
    color: #fff !important;
}

.contacts {
    background-color: #f44336;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

.cont-wrap-left {
    height: 180px;
    margin: 0 30px;
}

.cont-wrap-right {
    height: 180px;
    margin: 0 30px;
}

.tel-icon-block,
.mail-icon-block {
    display: inline;
}

.tel-icon {
    font-size: 35px;
    position: relative;
    top: 19px;
}

.mail-icon {
    font-size: 35px;
    position: relative;
    top: 18px;
}

.vk-icon {
    height: 31px;
    width: 35px;
    position: relative;
}

.contact-first {
    margin-left: 15px;
}

.contact {
    margin-left: 55px;
}

a.email-adress {
    margin-left: 16px;
    color: white;
}

.vk-adress {
    color: #fff;
    margin-left: 16px;
}

.vk-adressS {
    color: #fff;
    margin-left: 57px;
}

.organizators-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.mentors-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.iframe-organizators {
    height: 320px;
    width: 100%;
}

.iframe-gallery {
    height: 260px;
    width: 100%;
}

.mentors-wrap {
    margin: 30px 0;
}

.mentor-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg#greyscale);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    width: 25%;
}

.mentor-img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
}

.mentor-name {
    font-size: 18px;
    font-weight: bold;
}

.mentor-about {
    font-size: 16px;
    color: #727272;
}

.footer-title {
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.footer {
    margin-bottom: 60px;
}

@media screen and (min-width: 640px) {
    .divider {
        margin: 0 100px;
    }
    .cont-wrap-left {
        margin: 60px 40px 30px 0;
        float: right;
    }
    .cont-wrap-right {
        float: left;
        margin: 60px 0 30px 40px;
    }
    .place-icon {
        padding: 0;
    }
    .or {
        margin: 0 10px;
    }
    .title {
        font-size: 18px;
    }
    .pacman-img {
        margin: 30px 0;
    }
}

@media screen and (max-width: 620px) {
    .myButton {
        width: 90%;
    }
    .sponsors-img {
        width: 80%;
    }
    .join-div {
        margin: 15px 0;
    }
    .modal-wrap {
        padding: 0;
        padding-top: 15px;
    }
    .pacman-img img {
        width: 90%;
    }
    .pacman-text {
        margin-top: 5px;
    }
    .about-text {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.detailed-plan {
    /*color: black;*/
    /*position: absolute;*/
    /*width: 600px;*/
    padding-top: 50px;
    /*left: 100%;*/
    /*z-index: 100;*/
    background-color: #fff;
    text-align: center;
    display: none;
}

.plan-hide-arrow {
    cursor: pointer;
}

.plan-content {}

.day1,
.day2 {
    color: #212121;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    margin: 20px auto;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.plan {
    color: #7b7b7b;
    margin-top: 50px;
    font-size: 16px;
}

.day-active {
    background-color: #448aff;
    color: #fff;
    border-radius: 3px;
}

#plan-day-one {
    display: none;
}

.support {
    text-align: center;
}

.support-img {
    height: 200px;
}

#ssa-img {
    margin-left: 45px;
}

@media (max-width: 960px) {
    .support-img {
        width: 50%;
        height: auto;
    }
    #ssa-img {
        margin-left: 0;
    }
    #support {
        display: none;
    }
    #support-mobile {
        display: block;
    }
}
@media (min-width: 959px) {
    #registrationModal .modal-content {
        width: 700px;
    }
    #support {
        display: block;
    }
    #support-mobile {
        display: none;
    }
}

.support-title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 40px;
}

#registrationModal .modal-content {
    border-radius: 0;
    background-color: rgb(240, 240, 240);
}

#registerButton {
    color: white;
}

.modal-header .close {
    font-size: 32px;
}

#registrationModal .modal-header {
    right: 15px;
    position: absolute;
}